* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 50vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.centra {
    margin: auto;
}

#festa {
    display: none;
}

#festa.visible {
    display: block;
}
